.react-flow__handle {
  opacity: 0;
}

.canvas__interaction {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.canvas__interaction > * {
  pointer-events: auto;
}

.canvas__interaction :is(a, button, input, select, summary, textarea) {
  position: relative;
  z-index: 9;
}
